html {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  color: white;
  background-color: black;
}

#timpu {
	display: inline;
}

#data{
	display: inline;
}

.temperatura{
	display: inline;
}

.icon-vreme{
	width:128px;
	height:128px;
}

.viitor{
	margin-top:35px;
	display:block;
}

.right{
	float:right;
}

.stack{
	position: absolute;
}