html {
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  color: white;
  background-color: black;
}

.temperatura-curent{
	display:inline;
}
.temperatura{
	display: inline;
}

.icon-vreme{
	width:64px;
	height:64px;
}

.viitor{
	margin-top:35px;
	display:inline;
	padding-right: 35px;
	
}
.container{
	position:fixed;
	top:75%;
}
.right{
	float:right;
}

.stack{
	position: absolute;
}

#curentt{
	width:128px;
	height:128px;
	vertical-align:middle;
}

#timpu {
	display: inline;
	font-size:70px;
}

#data{
	display: inline;
}

#vreme{
    font-size:90px;
	text-align:middle;
}

#sumar{
	padding-top:10%;
}