html {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: white;
  padding: 40px;
  background-color: black;
}

#timpu {
	font-size: 30px;
}

#data{
	font-size: 30px;
}

#vreme{
	position: fixed;
    right: 3%;
}

#mesaju{
	position: fixed;
	top: 90%;
	left: 50%;
	transform: translateX(-50%);
    bottom: 10%;
}

#test{
	position : fixed;
	top:50%;
}